/* base */
body {
	font-family: "Roboto", sans-serif;
	background: #fff;
	color: #434455;
	padding: 0;
	margin: 0;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.container {
	box-sizing: border-box;
	max-width: 1158px;
	padding: 0 15px;
	margin: 0 auto;
}

button {
	cursor: pointer;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}


/* header */
.header {
	border-bottom: 1px solid #e7e9fc;
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-wrapper {
	display: flex;
	justify-content: space-between;

}

.header-nav {
	display: flex;
	align-items: center;
}

.header-nav-list {
	display: flex;
	gap: 40px;

}

.header-nav-link {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 117%;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
	margin-right: 76px;
}

.header-nav-link span {
	color: #2e2f42;
}

.header-nav-list-item-link {
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #2e2f42;
	position: relative;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-list-item-link:hover,
.header-nav-list-item-link:focus {
	color: #404bbf;
}

.active {
	color: #404bbf;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: #404bbf;
}

/*.studio:active {
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #404bbf;
	text-decoration: underline;
}*/

.header-address {
	font-style: normal;
}

.header-address-list {
	display: flex;
	gap: 40px;
}

.header-address-list-item-link {
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #434455;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-list-item-link:hover,
.header-address-list-item-link:focus {
	color: #404bbf;
}

.header a {
	display: inline-block;
	padding: 24px 0;
}

/* main */

/* --banner-- */
.banner {
	padding: 188px 0;
	max-width: 1440px;
	margin: 0 auto;
	background-color: #2e2f42;
	background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.banner .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.banner-main-header {
	font-weight: 700;
	font-size: 56px;
	line-height: 107%;
	letter-spacing: 0.02em;
	text-align: center;
	color: #fff;
	max-width: 496px;
	margin-bottom: 48px;
}

.banner-btn {
	background: #4d5ae5;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.04em;
	color: #fff;
	cursor: pointer;
	border-radius: 4px;
	border: none;
	min-width: 169px;
	height: 56px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.banner-btn:hover,
.banner-btn:focus {
	background-color: #404bbf;
}


/* ---keypoints */

.keypoints {
	padding: 120px 0;
}

.keypoints-list {
	display: flex;
	gap: 24px;
}

.keypoints-list-items {
	width: calc((100% - 24px * 3) / 4);
}

.keypoints-item-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.02em;
	color: #2e2f42;
	margin-bottom: 8px;
}

.keypoints-list-items-text {
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #434455;
}

.keypoints-icon {
	border: 1px solid #8e8f99;
	border-radius: 4px;
	background-color: #f4f4fd;
	padding: 24px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 112px;
	margin-bottom: 8px;
}

/* about our team */
.about {
	background: #f4f4fd;
	padding: 120px 0;
}

.about-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 111%;
	letter-spacing: 0.02em;
	text-align: center;
	color: #2e2f42;
	text-transform: capitalize;
	margin-bottom: 72px;
}

.about-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
}

.about-list-item {
	background: #fff;
}

.about-list-item:first-child {
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.about-item-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.02em;
	text-align: center;
	color: #2e2f42;
	margin-bottom: 8px;
}

.list-cart-description {
	padding: 32px 0;
	box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
	background: #fff;
	border-radius: 0 0 4px 4px;
}

.about-item-text {
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	text-align: center;
	color: #434455;
	margin-bottom: 8px;
}

.about-social-list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

.about-social-list-itm {
	width: 40px;
	height: 40px;
}

.about-social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	background-color: #4d5ae5;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-social-icon {
	fill: #f4f4fd
}

.about-social-link:hover,
.about-social-link:focus {
	background-color: #404bbf;
}

/* ------portfolio */
.portfolio {
	padding: 120px 0;
}

.portfolio-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 111%;
	letter-spacing: 0.02em;
	text-align: center;
	color: #2e2f42;
	text-transform: capitalize;
	margin-bottom: 72px;
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 48px;
	column-gap: 24px;
}

.portfolio-list-item {
	background: #fff;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-cart-description {
	padding: 32px 16px;
	border-bottom: 1px solid #e7e9fc;
	border-left: 1px solid #e7e9fc;
	border-right: 1px solid #e7e9fc;
}

.portfolio-list-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.02em;
	color: #2e2f42;
	margin-bottom: 8px;
}

.portfolio-list-text {
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #434455;
}

.popup-container {
	position: relative;
	overflow: hidden;
}

.portfolio-popup-text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #f4f4fd;
	padding: 40px 32px;
	background-color: #4d5ae5;
	transform: translateY(100%);
	opacity: 0;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-popup-text,
.portfolio-list-item:active .portfolio-popup-text {
	opacity: 1;
	transform: translateY(0%);
}

.portfolio-list-item:hover,
.portfolio-list-item:active {
	box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
		0 1px 1px 0 rgba(46, 47, 66, 0.16),
		0 1px 6px 0 rgba(46, 47, 66, 0.08);
	cursor: pointer;
}

/* footer */
.footer {
	background: #2e2f42;
	padding: 100px 0
}

.footer .container {
	display: flex;
	align-items: baseline;
}


.footer-link {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 117%;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
	margin-bottom: 16px;
	display: inline-block;
}

.footer-link-logo {
	color: #f4f4fd;
}

.footer-text {
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #f4f4fd;
	max-width: 264px;
}

.footer-block {
	margin-right: 120px;
}

.footer-social-block {}

.footer-social-text {
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #fff;
	margin-bottom: 16px;
}

.footer-social-list {
	display: flex;
	align-items: start;
	gap: 16px;
}

.footer-social-list-itm {}

.footer-social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background-color: #4d5ae5;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
	fill: #f4f4fd
}

.footer-social-link:hover,
.footer-social-link:focus {
	background-color: #31d0aa;
}

/* subscribe */

.footer-subscribe {
	margin-left: 80px;
}

.footer-subscribe-text {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #fff;
	margin-bottom: 16px;
}

.footer-subscribe-form {
	display: flex;
	gap: 24px;
}

.footer-subscribe-input {
	border: 1px solid #fff;
	border-radius: 4px;
	width: 264px;
	height: 40px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
	font-weight: 400;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.04em;
	color: #fff;
	padding: 8px;
	padding-left: 16px;
	background-color: transparent;
}

.footer-subscribe-input::placeholder {
	color: #fff;
}

.footer-subscribe-btn {
	border-radius: 4px;
	padding: 8px 24px;
	min-width: 165px;
	height: 40px;
	background-color: #4d5ae5;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	text-align: center;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
}

.footer-subscribe-icon {
	fill: #fff;
	margin-left: 16px;
}

/* modal */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(46, 47, 66, 0.4);
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: visibility, opacity;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 72px 24px 24px 24px;
	border-radius: 4px;
	width: 408px;
	min-height: 584px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
	background: #fcfcfc;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
}

.backdrop:not(.is-open) .modal {
	transform: translate(-100%, -100%);
}

.close-btn {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	right: 24px;
	top: 24px;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	background-color: #e7e9fc;
	border: 1px solid rgba(0, 0, 0, 0.1);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
	padding: 0;
}

.close-btn-icon {
	fill: black;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
	background-color: #404bbf;
	border: 0;
}

.close-btn:hover .close-btn-icon,
.close-btn:focus .close-btn-icon {
	fill: #ffff;
}

.modal-text {
	margin-bottom: 16px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-align: center;
	color: #2e2f42;
}

.modal-form {}

.modal-container-block {
	margin: 0;
	padding: 0;
	margin-bottom: 8px;
}

.modal-form-label {
	display: block;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: #8e8f99;
	margin-bottom: 4px;
}

.modal-form-input-cont {
	position: relative;
}

.modal-form-input {
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 4px;
	width: 360px;
	height: 40px;
	padding: 11px;
	padding-left: 38px;
	background-color: transparent;
	outline: transparent;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover,
.modal-form-input:focus {
	border-color: #4d5ae5;
}


.modal-form-icon {
	position: absolute;
	top: 50%;
	left: 16px;
	transform: translateY(-50%);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	/*margin-left: 16px;
	margin-top: 8px;*/
}

.modal-form-input:hover+.modal-form-icon,
.modal-form-input:focus+.modal-form-icon {
	fill: #4d5ae5;
}

/*#404bbf*/

.cont-user-text {
	margin-bottom: 16px;
	display: flex;
	flex-direction: column;
}

.user-coment {
	background-color: transparent;
	outline: transparent;
	resize: none;
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 4px;
	width: 360px;
	height: 120px;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: rgba(46, 47, 66, 0.4);
	padding: 8px 16px;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-coment:hover,
.user-coment:focus {
	border-color: #4D5AE5;
}

.modal-form-con-chekbox {
	margin-bottom: 24px;
	/*position: relative;*/
}

.checkbox {}

.checkbox:checked+.label-checkbox .custom-checkbox {
	background-color: #404bbf;
	fill: #f4f4fd;
	border: none;
}

.visually-hidden {}

.label-checkbox {
	font-weight: 400;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: #8e8f99;
	cursor: pointer;
}

.custom-checkbox {
	border-radius: 2px;
	border: 1px solid rgba(46, 47, 66, 0.4);
	width: 16px;
	height: 16px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	fill: transparent;
	margin-right: 8px;
}

.send-btn {
	border-radius: 4px;
	padding: 16px 32px;
	min-width: 169px;
	height: 56px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
	background-color: #4d5ae5;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	text-align: center;
	color: #fff;
	border: none;
	display: block;
	margin: 0 auto;
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-privacy-link {
	line-height: 1.33;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	color: #4d5ae5;
}